{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>{{ invitado.nombre }} - Confirmar Asistencia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
</head>
<body>

    <div class="corona"></div>
    <div class="card">
        <h1>
            Selccion de preferencias
        </h1>
        <div class="tx-noscasamos"></div>
        <div class="txt-noscasamos">
            ¡Nos Casamos y queremos que nos acompañes!
        </div>
        <div class="block">
            <div class="col">
                <div class="custom-box-a">
                    <div class="calendario"></div>
                    <div class="tv"></div>
                </div>
            </div>
            <div class="col">
                <div class="custom-box-b">
                    <div class="col-a">
                        <div class="anillos"></div>
                        <h2>Templo Sagrado Corazón de Jesús Adoratrices</h2>
                        <p>Sierras Chicas Ruta E53 Ascochinga - Córdoba.</p>
                        <a class="btn" href="#">Como llegar</a>
                    </div>
                    <div class="col-b">
                        <div class="copas"></div>
                        <h2>Estancia El Rosal</h2>
                        <p>Ruta E53, Agua de Oro</p>
                        <a class="btn" href="#">Ver Mapa</a>
                    </div>
                </div>
            </div>
            <div class="col custom">
                <div class="txt-regalo">
                    Tu mejor regalo es nuestra luna de miel
                </div>
                <div class="col-c">
                    <div class="list">
                        <h4>Banco Galicia</h4>
                    <ul>
                        <li>Titular: <b>Leticia Flores</b></li>
                        <li>N° cta: <b>4085825-0 076-3</b></li>
                        <li>CBU: <b>00700764 30004085825032</b></li>
                        <li>CUIT: <b>27-34688667-1</b></li>
                        <li>Alias de CBU : <b>fedeyleti</b></li>
                    </ul>
                    </div>
                    <div class="maletas"></div>
                </div>

            </div>
            <div class="col custom">
                <div class="lines"></div>
                <div class="txt-confirmar">
                    Confirmar Asistencia
                </div>
                <h3>Hasta el 17 de agosto</h3>
                <a class="btn btn-confirmar" href="#">Confirmar</a>
            </div>
        </div>
    </div>


    <div class="modal-menu">
        <h2>Especifique menú especial</h2>
        <form name="confirmar" id="confirmar_invitacion" action="{% url 'guardar_confirmacion' id_invitado=invitado.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id_invitado" value="{{ invitado.id }}" />
            <div class="formulario">
                <div class="wrap">
                    <div class="group-form">
                        <div class="row">
                            <div class="myselect">
                                <select name="menu_id" id="menu_id">
                                    {% for menu in menus %}
                                    <option value="{{ menu.id }}" {% if menu.nombre == 'Sin especificaciones' %}selected="selected"{% endif %}>{{ menu.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="otro_menu_box">
                            <textarea cols="30" rows="3" name="otro" id="otro_menu"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" class="btnconfirmar" value="Confirmar Invitacion">
        </form>
    </div>

    <div class="firma">
        <div class="bg-letyyfede">
            <div class="letyyfede">
            </div>
        </div>
        <div class="blockwhite"></div>
    </div>

    <div class="bg-modal" style="display:block"></div>

</body>
<script type="text/javascript">
    $(document).ready(function(){
        let $modal_nombres = $('.modal-menu');
        let $open_modal = $('.btn-confirmar');
        let $the_modal = $('.bg-modal');

        $open_modal.on('click', function(){
            $the_modal.fadeIn('fast', function(){
                $modal_nombres.show();
            });
        });

    });
</script>
</html>