{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Mi Casamiento - {{ d_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
</head>

<body>

    <div class="corona"></div>
    <div class="card">
        <h1>
            {{ d_name }}
        </h1>
        <div class="tx-noscasamos"></div>
        <div class="txt-noscasamos">
            ¡Nos Casamos y queremos que nos acompañes!
        </div>
        <div class="block">
            <div class="col">
                <div class="custom-box-a">
                    <div class="calendario"></div>
                    {% if pareja %}
                        {% for invitado in pareja.invitados %}
                            {% if forloop.counter == 1 %}
                                {% if invitado.grupo.nombre == 'Normal' %}
                                    <div class="tv"></div>
                                {% else %}
                                    <div class="tv2"></div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% if invitado.grupo.nombre == 'Normal' %}
                            <div class="tv"></div>
                        {% else %}
                            <div class="tv2"></div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="col">
                {% if pareja %}
                    {% for invitado in pareja.invitados %}
                        {% if forloop.counter == 1 %}
                            {% if invitado.grupo.nombre == 'Normal' %}
                                {% include 'casamiento/mapas_normal.html' %}
                            {% else %}
                                {% include 'casamiento/mapas_no_normal.html' %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% if invitado.grupo.nombre == 'Normal' %}
                        {% include 'casamiento/mapas_normal.html' %}
                    {% else %}
                        {% include 'casamiento/mapas_no_normal.html' %}
                    {% endif %}
                {% endif %}
            </div>
            <div class="col custom">
                <div class="txt-regalo">
                    Tu mejor regalo es nuestra luna de miel
                </div>
                <div class="col-c">
                    <div class="list">
                        <h4>Banco Galicia</h4>
                    <ul>
                        <li>Titular: <b>Leticia Flores</b></li>
                        <li>N° cta: <b>4085825-0 076-3</b></li>
                        <li>CBU: <b>00700764 30004085825032</b></li>
                        <li>CUIT: <b>27-34688667-1</b></li>
                        <li>Alias de CBU : <b>fedeyleti</b></li>
                    </ul>
                    </div>
                    <div class="maletas"></div>
                </div>

            </div>
            <div class="col custom">
                <div class="lines"></div>
                <div class="txt-confirmar">
                    Confirmar Asistencia
                </div>
                <h3>Hasta el 17 de agosto</h3>
                <a class="btn btn-confirmar" href="#">Confirmar</a>
            </div>
        </div>
    </div>

    {% if pareja %}
        <div class="modal-nombres">
            <h2>Invitados</h2>
            {% if invitado_confirmado_obj %}
                <p class="already_confirmed"><strong>{{ invitado_confirmado_obj.nombre }}</strong>: Confirmación exitosa !</p>
            {% endif %}
            <ul>
            {% for invitado in pareja.invitados %}
                <li>
                    <a href="{% url 'confirmar_invitado' id_invitado=invitado.id %}">{{ invitado.nombre }}</a>
                    {% if invitado.confirmado %}
                        CONFIRMADO
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% else %}
    <div class="modal-nombres">
        <h2>Invitados</h2>
        {% if invitado_confirmado_obj %}
            <p class="already_confirmed"><strong>{{ invitado_confirmado_obj.nombre }}</strong>: Confirmación exitosa !</p>
        {% endif %}
        <ul>
            <li>
                <a href="{% url 'confirmar_invitado' id_invitado=invitado.id %}">
                    {{ invitado.nombre }} {% if invitado.confirmado %}<span>Confirmado!</span>{% endif %}
                </a>
            </li>
        </ul>
    </div>
    {% endif %}

    <div class="firma">
        <div class="bg-letyyfede">
            <div class="letyyfede">
            </div>
        </div>
        <div class="blockwhite"></div>
    </div>

    <div class="bg-modal"></div>
</body>
<script type="text/javascript">
    $(document).ready(function(){
        let $modal_nombres = $('.modal-nombres');
        let $open_modal = $('.btn-confirmar');
        let $the_modal = $('.bg-modal');

        $open_modal.on('click', function(){
            $the_modal.fadeIn('fast', function(){
                $modal_nombres.show();
            });
        });
        $the_modal.on('click', function(){
            $the_modal.fadeOut('fast');
            $modal_nombres.hide();
        });

        {% if invitado_confirmado_obj %}
            $the_modal.fadeIn('fast', function(){
                $modal_nombres.show();
            });
        {% endif %}

    });
</script>
</html>

