                <div class="custom-box-b">
                    <div class="col-a">
                        <div class="anillos"></div>
                        <h2>Templo Sagrado Corazón de Jesús Adoratrices</h2>
                        <p>Sierras Chicas Ruta E53 Ascochinga - Córdoba.</p>
                        <a class="btn" href="#">Como llegar</a>
                    </div>
                    <div class="col-b">
                        <div class="copas"></div>
                        <h2>Estancia El Rosal</h2>
                        <p>Ruta E53, Agua de Oro</p>
                        <a class="btn" href="#">Ver Mapa</a>
                    </div>
                </div>