{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Casamiento Fede y Leti</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
</head>

<body class="sininvitacion">
    <div class="posicionar">
        <div class="corona"></div>
        <div class="firma">
            <div class="bg-letyyfede">
                <div class="letyyfede2">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="tx-noscasamos"></div>
            <div class="txt-noscasamos">
                ¡Accesos excclusivo para invitados!
            </div>
        </div>
    </div>
</body>
</html>

